@font-face {
    font-family: "ComfortaaRegular";
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"),
      url("../fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ComfortaaMedium";
    src: local("Comfortaa Medium"), local("Comfortaa-Medium"),
      url("../fonts/Comfortaa-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ComfortaaBold";
    src: local("Comfortaa Bold"), local("Comfortaa-Bold"),
      url("../fonts/Comfortaa-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ComfortaaBlack";
    src: local("Comfortaa Black"), local("Comfortaa-Black"),
      url("../fonts/Comfortaa-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  